.player-list-item {
    -fx-background-color: linear-gradient(to bottom, #2b5876 , #4e4376);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-margin: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.2, 0, 4);
    -fx-alignment: center-left;
}

.country-container {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.number-container {
    -fx-alignment: center;
}

.player-number {
    -fx-text-fill: #b6bfca;
    -fx-font-family: "Arial Black";
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}

.info-container {
    -fx-alignment: center-left;
}

.info-box {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.player-name {
    -fx-font-weight: bold;
    -fx-text-fill: #fefefe;
    -fx-font-size: 18px;
}

.player-position {
    -fx-text-fill: #b7b485;
    -fx-font-size: 10px;
}

.player-list-item:hover {
    -fx-background-color: linear-gradient(to bottom, #264e68 , #443a66);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 15, 0.2, 0, 6);
    -fx-cursor: hand;
}
