.country-list-item {
    -fx-background-color: linear-gradient(to bottom, #2b5876, #4e4376);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-margin: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.2, 0, 4);
    -fx-alignment: center-left;
}

.country-container {
    -fx-padding: 10px;
    -fx-alignment: center;
}

.info-container {
    -fx-alignment: center-left;
}

.country-name {
    -fx-font-weight: bold;
    -fx-text-fill: #fefefe;
    -fx-font-size: 16px;
}

.no-of-players {
    -fx-text-fill: #b6bfca;
    -fx-font-family: "Arial Black";
    -fx-font-size: 40px;
    -fx-alignment: center;
}

.country-list-item:hover {
    -fx-background-color: linear-gradient(to bottom, #264e68, #443a66);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 15, 0.2, 0, 6);
    -fx-cursor: hand;
}

.flagImage {
    -fx-preserve-ratio: false;
    -fx-max-width: 50px;   /* Fixed width */
    -fx-max-height: 35px;  /* Fixed height */
    -fx-min-width: 50px;   /* Fixed width */
    -fx-min-height: 35px;  /* Fixed height */
    -fx-fit-to-width: true; /* Ensures the image scales to fit */
    -fx-fit-to-height: true; /* Ensures the image scales to fit */
}
